server {
        listen {{ http_port }};
       
        server_name drifting;
                 root /var/www/html/drifting;
                 index index.php index.html index.htm;
        location / {
                try_files $uri $uri/ =404;
        }

        location ~ \.php$ {
                include snippets/fastcgi-php.conf;
                fastcgi_pass unix:/var/run/php/php7.2-fpm.sock;
        }

        location ~ /\.ht {
                deny all;
        }
}
